.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  justify-content: center; 
  text-align: center;
  padding-top: 50px;
  
}

.cards-container{
  display: grid;
  justify-content: center; 
}

h1 {
  display: block;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}