.searchbar {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 15px;
}

#search {
  width: 50vw;
  padding: 5px 5px 5px 5px;
  font-family: 'joystix';
  
}

#directions{
  padding-bottom: 30px;
}

button {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  background-color: #3465a4;
  color:white;
  font-family: 'joystix';
}

#buttondiv{
  margin-top: 20px;
}

