.profile-pic {
  width: 55px;
  height:55px;
  
}

#wallet {
  position: absolute;
  top: 14px;
  right: 0px;
  width: 50px;
  height: 55px;
}

.wallet-selector {
  position: absolute;
  top: 0px;
  right: 0;
  width: 30vw;
  font-size: 12px;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}